<footer>
  We compared school funding data from 2012 to graduation rate data from 2019 to see if better funding in elementary school contributed to higher graduation rates for those children, and found that there was too much variety from state to state to draw any national conclusion, although there are noticeable patterns within states, and the different patterns we believe could be a result of each state's policies regarding assigning funding. Click to get access to our source data for <a href="https://eddataexpress.ed.gov/dashboard/title-i-part-a?sy=2674&s=1035"> graduation rate </a> or <a href="https://nces.ed.gov/edfin/search/search_intro.asp"> school funding </a> .
</footer>
