<header>
  <h3>
  Fund 'Em When They're Young?: Does Better Funding in Elementary and Secondary School Improve High School Graduation Rates?
</h3>
<h5>
  <span style ="font-weight:normal">
  By Lux Hogan-Murphy and Clifford Stowe
  </span>
  </h5>
</header>
