<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="index.html">Index</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="about.html">About our project!</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="microCalifornia.html">California</a></li>
            <li><a class="dropdown-item" href="microColorado.html">Colorado</a></li>
            <li><a class="dropdown-item" href="microFlorida.html">Florida</a></li>
            <li><a class="dropdown-item" href="microIowa.html">Iowa</a></li>
            <li><a class="dropdown-item" href="microLouisiana.html">Louisiana</a></li>
            <li><a class="dropdown-item" href="microMissouri.html">Missouri</a></li>
            <li><a class="dropdown-item" href="microNewMexico.html">New Mexico</a></li>
            <li><a class="dropdown-item" href="microNewYork.html">New York</a></li>
            <li><a class="dropdown-item" href="microOklahoma.html">Oklahoma</a></li>
            <li><a class="dropdown-item" href="microTexas.html">Texas</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
